*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.aboutpage{
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(59, 82, 182), rgba(100, 201, 248, 0));
    background-position: center;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 100%;
}


h1{
    font-size: 35px;
    color: #b0ebf0;
    margin-top: 80px;
    margin-left: 32px;
}

.lower-page {
    display: flex;
    justify-content: center; /* Center the person container horizontally */
    margin: 50px 32px;
}
   
.person {
    display: flex;
    align-items: center; /* Center the image and text container vertically */
    flex-direction: row; /* Ensure elements are side by side */
    max-width: 100%; /* Ensure container doesn't overflow */
    flex-wrap: nowrap; /* Prevent elements from wrapping */
}


.image-container img{
    width: 20vw;
    height: 20vw;
    margin-top: 50px;
    margin-left: 32px;
}

.text-container {
    flex: 1;
    margin: 50px;
}

.text-container h2 {
    font-size: 2vw;
    margin-left: -10px;
    margin-top: 50px;
}

.text-container p {
    font-family: Arial, sans-serif;
    font-size: 1.75vw;
    width: 50vw;
    margin-left: -10px;
    margin-top: 10px;
}






.map {
    padding-bottom: 50%;
    position: relative;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #000000;
    margin-top: 80px;
    margin-left: 32px;
}


.map iframe {
    height: 50%;
    width: 50%;
    left: 0;
    top: 0;
    position: absolute;
    margin-top: 60px;
    margin-left: 32px;
}

