.prof-box{
    width:90%;
    max-width: 500px;
    max-height: 600px;
   
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #dbd0d0fa;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 30px;
    background-color: rgba(121, 212, 212, 0.664);
    outline:rgba(190, 240, 240, 0.733);
    border-width: thin;
    border-style: solid;
    

}


.dets{
    
    max-width: 400px;
    max-height: 50px;
    height: 100%;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 30px;
    background-color: rgba(121, 212, 212, 0.664);
    outline:rgba(190, 240, 240, 0.733);
    border-width: thin;
    border-style: solid;
    font-size: 30px;
    margin-top: 10px;
    
}

.dets p{
    margin-top: 10px;

}

.prof-box i{
    margin-bottom: 40px;
    font-size: 60px;
}

.change-pass{
    font-size: 20px;
}

.profpage h{
    position: absolute;
    font-size: 45px;
    text-align: center;
    margin-top: 900px;
    top: -78%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#1e1452;
}

.profpage{
    background-image: linear-gradient(to bottom, rgb(59, 82, 182), rgba(100, 201, 248, 0));
    height: 1000px;
}