<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Form</title>
    <link rel ="stylesheet" href ="../styles/booking-form.css" />
    <script src="https://kit.fontawesome.com/b99a65b969.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">

    </nav>  
    <div class="bookpage">
        
        <h id="title">Booking&nbsp;Form</h>

        <div class="book-box">
            <i class="fa-solid fa-id-card"></i>
            
            
            <form class="booking-details" action="/aboutus" method="get">
                <div class="book-dets" >
                    <input type="text" id="book-name" placeholder="Name" required>
                </div>

                <div class="book-dets" >
                    <input type="text"  id="book-surname" placeholder="Surname" required>
                </div>

                <div class="book-dets" >
                    <input type="email" id="book-email" placeholder="Email" required>
                </div>

                <div class="book-dets" >
                    <input type="number" id="book-phone" placeholder="Phone number" required>
                </div>

                <div class="book-dets" >
                    <input type="text" id="book-idNum" placeholder="ID number" required>
                </div>

                <div class="book-trip">
                    <button type="submit" href="" class="booktrip" id="BookTrip" onclick="geberateQR()">BOOK THE TRIP</button>
                </div>
            </form>
    </div>
</div>

<script src="../scripts/includeHTML.js"></script>  
<script src="../scripts/appl.js"></script>
<script src="../scripts/generate_qr.js"></script>
<script src="../scripts/booking.js"></script>

</body>
</html>