<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My booked trips</title>
    <link rel ="stylesheet" href ="../styles/bookedtrips.css" />
</head>
<body>
    <div class="bookedpage">
        <nav class="navbar-container" id="navbar-container">
            
        </nav>
    
    
    <div class="lower-page">
        <div class="tickets">
        
        </div>
    </div>

   
    
</div>
    <script src="../scripts/includeHTML.js"></script>  
    <script src="../scripts/appl.js"></script>
    <script src="../scripts/loged.js"></script>
</body>
</html>