<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel ="stylesheet" href ="../styles/booking-form.css" />
    <script src="https://kit.fontawesome.com/b99a65b969.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">

    </nav>  
    <div class="bookpage">
        
        <h id="title">Booking&nbsp;Form</h>

        <div class="book-box">
            <i class="fa-solid fa-id-card"></i>
            
            
            <form class="booking-details">
                <div class="book-dets" id="name">
                    <input type="text" placeholder="Name" required>
                </div>

                <div class="book-dets" id="surname">
                    <input type="text" placeholder="Surname" required>
                </div>

                <div class="book-dets" id="email">
                    <input type="email" placeholder="Email" required>
                </div>

                <div class="book-dets" id="phone">
                    <input type="number" placeholder="Phone number" required>
                </div>

                <div class="book-dets" id="idNum">
                    <input type="text" placeholder="ID number" required>
                </div>

                <div class="book-trip">
                    <a type="submit" href="" class="booktrip" id="BookTrip">BOOK THE TRIP</a>
                </div>
            </form>
    </div>
</div>

<script src="../scripts/includeHTML.js"></script>  
<script src="../scripts/appl.js"></script>
</body>
</html>