<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sky Hop</title>
    <link rel ="stylesheet" href ="../styles/home.css" />
    <script src="https://kit.fontawesome.com/b99a65b969.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">

    </nav>
    <div class="page">
        <img class="image" src="/images/SkyHop (2).png"
        position: relative; max-width:100%>
       
        <div class="search-box">
            <h1 id="title">Book your next adventure now!</h1>
            <form action="/search"  method="GET">
                <div class="choices">
                    <label for="one-way">
                        <input type="radio" id="one-way" name="trip-choice" value="one way" required>
                        One&nbsp;Way
                    </label>
                    <label for="round-trip">
                        <input type="radio" id="round-trip" name="trip-choice" value="round trip" required>
                        Round&nbsp;Trip
                    </label>
                </div>
            
                <div class="input-fields">
                    <div class="inputs" id="placefrom">
                        <input type="text" name="from" placeholder="From" required>
                    </div>
            
                    <div class="inputs" id="placeto">
                        <input type="text" name="to" placeholder="To" required>
                    </div>
                    <br><br>
                    <div class="inputs-date" id="datefrom">
                        <input type="date" name="departure-date" placeholder="From" required>
                    </div>
            
                    <div class="inputs-date" id="dateto">
                        <input type="date" name="return-date" placeholder="To">
                    </div>
            
                    <div class="amount">
                        <label for="cars">Amount of Passengers:</label>
                        <select name="passengers" id="passengers">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <br><br>
                    </div>
            
                    <div class="search-btn">
                        <button type="submit" id="searchflights">Search for flights</button>
                    </div>
                </div>
            </form>
        </div>
      



    


    
    
        <div class="dest-home">
            <span style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Trending&nbsp;Destinations:</span>
        </div> 
    
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <div class="numbertext">1 / 5</div>
                <a href="/" id="ath">
                    <img src="/images/athens.jpg"
                    width="1000px"
                    height="400px"
                    position= "relative"
                    text-align= "center"
                    max-width= "100%">
                    <div class="text">ATHENS</div>
                </a>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">2 / 5</div>
                <a href="/" id="porto">
                    <img src="/images/porto.jpg" 
                    width="1000px"
                    height="400px"
                    position= "relative"
                    text-align= "center"
                    >
                    <div class="text">PORTO</div>
                </a>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">3 / 5</div>
                <a href="/" id="madrid">
                    <img src="/images/madrid.jpg" 
                    width="1000px"
                    height="400px"
                    position= "relative"
                    text-align= "center"
                    max-width= "100%">
                    <div class="text">MADRID</div>
                </a>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">4 / 5</div>
                <a href="/" id="newyork">
                    <img src="/images/new york.jpg" 
                    width="1000px"
                    height="400px"
                    position= "relative"
                    text-align= "center"
                    >
                    <div class="text">NEW YORK</div>
                </a>
            </div>

            <div class="mySlides fade">
                <div class="numbertext">5 / 5</div>
                <a href="/" id="copen">
                    <img src="/images/copenhgane.jpg" 
                    width="1000px"
                    height="400px"
                    position= "relative"
                    text-align= "center"
                    >
                    <div class="text">COPENHAGEN</div>
                </a>
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
    
    </div>  

    <script src="../scripts/slides.js"></script>  
    <script src="../scripts/appl.js"></script>
    <script src="../scripts/includeHTML.js"></script>  
    
    
</body>
</html>