<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel ="stylesheet" href ="../styles/myprofile.css" />
    <script src="https://kit.fontawesome.com/b99a65b969.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar-container" id="navbar-container">

    </nav>  
    <div class="profpage">
        
        <h id="title">My&nbsp;Profile</h>

        <div class="prof-box">
            <i class="fa-regular fa-circle-user"></i>
            
            
            <div class="details">
                <div class="dets" id="name">
                    <p>NAME: <b>{{name}}</b></p>
                </div>

                <div class="dets" id="surname">
                    <p>SURNAME: <b>{{surname}}</b></p>
                </div>

                <div class="dets" id="email">
                    <p>EMAIL: <b>{{email}}</b></p>
                </div>

                
                <div class="dets" id="trips">
                    <a href="/myBookings" class="bookedtrips" id="bookedtrips">MY&nbsp;BOOKED TRIPS</a>
                </div>

        </div>
    </div>
</div>

<script src="../scripts/includeHTML.js"></script>  
<script src="../scripts/appl.js"></script>
<script src="../scripts/loged.js"></script>
</body>
</html>