<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
    <link rel ="stylesheet" href ="../styles/myticket.css" />
    <script src="https://kit.fontawesome.com/b99a65b969.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">

    </nav>  
    <div class="tickpage">
        
        <h id="title">My&nbsp;Ticket</h>

        <div class="ticket-box">
            
            
            
            <div class="ticket-details">
                <div class="tick-dets" id="ticketid">
                    <p>TICKET ID</p>
                </div>

                <div class="tick-dets" id="name">
                    <p>NAME</p>
                </div>

                <div class="tick-dets" id="surname">
                    <p>SURNAME</p>
                </div>

                <div class="tick-dets" id="departure">
                    <p>DEPARTURE</p>
                </div>

                <div class="tick-dets" id="arrival">
                    <p>ARRIVAL</p>
                </div>

                <div class="tick-dets" id="date">
                    <p>DATE</p>
                </div>

                
        </div>
    </div>
</div>

<script src="../scripts/includeHTML.js"></script>  
<script src="../scripts/appl.js"></script>
</body>
</html>