<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel ="stylesheet" href ="../styles/style.css" />
</head>
<body >
    <div class="page">
    <nav class="navbar">
        <div class="navbar_container" id="navbar_container">
            <a href="/" id="navbar_logo"><img class="image_rem" src="../images/SkyHop removed.png"></a>
            <div class="navbar_toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar_menu">
                <li class="navbar_item">
                    <a href="/top-destinations" class="navbar_links">Top&nbsp;destinations</a>
                </li>
                <li class="navbar_item">
                    <a href="/aboutus" class="navbar_links">About&nbsp;us</a>
                </li>


               
                <li class="navbar_item">
                    <a href="/myprofile" class="navbar_links">My&nbsp;profile</a>
                </li>
                <li class="navbar_btn">
                    <a href="/logout" class="button">Logout</a>
                </li>
                

              
                <li class="navbar_item">
                    <a href="/login" class="navbar_links">Login</a>
                </li>
                <li class="navbar_btn">
                    <a href="/signup" class="button">Sign&nbsp;up</a>
                </li>
                
                
            </ul>
        </div>
    </nav>
    </div>
    <script src="../scripts/appl.js"></script>
    <!-- <script src="../scripts/loged.js"></script> -->
    <script src="/controllers/userController.js"></script>
    </body>
</html>